.navbar{
    position: relative;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__item{
        padding-right: map-get($map: $spacers, $key: 3);

        &:last-child{
            padding-right: 0;
        }

        &:hover{
            text-decoration: none;
        }

        &_has-child{
            &:after{
                content:'';
                display: inline-block;

                width: 8px;
                height: 6px;
                margin-left: 6px;

                background: url('../icon/arrow-down.svg') no-repeat center / contain;
            }
        }
    }

    &__children{
        display: none;

        flex-wrap: wrap;

        position: absolute;
        top: calc( 100% + 10px );
        left: 0;
        z-index: 99;

        width: 100%;
        max-width: 100%;

        background: $white;
        padding: $spacer;

        border: 1px solid $border-color;

        &--active{
            display: flex;
        }

        &-item{
            flex: 0 0 20%;
            max-width: 20%;

            padding: 5px 10px;
            color: $dark-grey;
        }
    }
}