.content-first{
    overflow: hidden;
    padding: map-get($map: $spacers, $key: 5);
    &__image{
        position: absolute;
        left: 0;
        bottom: -(map-get($map: $spacers, $key: 5));

        width: 420px;
        height: auto;

        z-index: 11;
    }
    &__sign{
        position: absolute;
        top: -(map-get($map: $spacers, $key: 2));
        right: -(map-get($map: $spacers, $key: 5));
        z-index: 9;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content-first{
        overflow: hidden;
        padding: map-get($map: $spacers, $key: 2) 0 0;

        &__title{
            font-size: 20px;
        }
        &__image{
            position: initial;
            max-width: 100%;
        }
        &__sign{
            display: none;
        }
    }
}