.content-contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__messenger{
        margin-right: $spacer/2;
    }
    &__networks{
        font-weight: $font-weight-bold;
        margin-right: $spacer*1.5;

        &-icon{
            fill: $black;
            margin-right: $spacer/2;
            transition: .4s;
        }

        &:hover{
            color: $dark-grey;
            text-decoration: none;

            .content-contact__networks-icon{
                fill: $dark-grey;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content-contact{
        &__networks{
            margin-right: $spacer/2;

            span{
                font-size: 11px;
            }
            &-icon{
                width: 14px;
                height: 14px;
                margin-right: $spacer/4;
            }
        }
    }    
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content-contact{
        flex-wrap: wrap;

        &__networks{
            flex: 0 0 100%;
            margin-right: 0;
            margin-bottom: $spacer/2;
        }
    }
}