.preview_step{
    position: relative;
    padding: 0 $spacer;

    width: 360px;
    max-width: 100%;
    text-align: center;

    &__num{
        line-height: 60px;
        width: 60px;
        border-radius: 30px;

        margin: 0 auto 30px;

        background: $black;
        color: $white;
        font-weight: $font-weight-bold;
        font-size: 22px;
    }
}

.preview_step-final{
    background-color: $light-grey;

    display: grid;
    grid-gap: map-get($map: $spacers, $key: 3);
    grid-template-columns: 120px 200px 1fr;

    width: 920px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    &__title{
        font-size: 22px;
        line-height: 28px;
        font-weight: $font-weight-bolder;

        margin-bottom: $spacer/2;
    }

    &__intro{
        margin-top: $spacer/2;
    }
    &__content{
        margin-top: $spacer/2;
    }

}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .preview_step{
        width: map-get($map: $container-max-widths, $key: 'lg')/3 - 20px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .preview_step{
        width: map-get($map: $container-max-widths, $key: 'md')/3 - 20px;
        padding: 0 $spacer/2;

        &__num{
            line-height: 40px;
            width: 40px;
            border-radius: 20px;

            font-size: 18px;
            margin-bottom: $spacer;

            text-align: center;
        }
    }
    .preview_step-final{
        grid-gap: $spacer;
        grid-template-columns: 100px 180px 1fr;

        &__title {
            font-size: 17px;
            line-height: 26px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview_step{
        width: map-get($map: $container-max-widths, $key: 'sm')/3 - 20px;
        padding: 0 $spacer/2;
    }
    .preview_step-final{
        grid-gap: $spacer;
        grid-template-columns: 60px 1fr;

        &__title{
            margin-bottom: 0;
        }
        &__content{
            grid-column: 2/3;
            margin-top: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview_step{
        padding: 0 0 map-get($map: $spacers, $key: 2);
        padding-left: 60px;

        width: 100%;
        text-align: left;

        &__num{
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
        }
        &__intro{
            width: 250px;
            max-width: 100%;
        }
    }
    .preview_step-final{
        position: relative;
        
        padding: 0;
        padding-left: 60px;

        background-color: inherit;    
        display: block;

        &__img{
            width: 40px;

            position: absolute;
            left: 0;
            top: 0;
        }
        &__title{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: $spacer/2;
        }    
        &__intro{
            margin-top: $spacer/2;
        }
        &__content{
            margin-top: $spacer/2;
        }
    }
}