.preview_advantage{
    position: relative;
    padding-right: 40%;
    background: $white;
    color: $black;
    border: 1px solid $border-color;

    height: 100%;
    max-height: 180px;

    &__img{
        position: absolute;
        right: 0;
        bottom: 0;

        width: 40%;
        height: 100%;

        background: no-repeat center / cover;
        clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    }
}

a.preview_advantage{
    &:hover{
        background: darken($color: $light-grey, $amount: 6);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview_advantage{
        max-height: 140px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview_advantage{
        height: auto;
    }
}