.preview_service{
    background: $white;
    color: $black;
    border: 1px solid $border-color;
    padding: $spacer/2;
    padding-right: $spacer*1.5;

    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    min-width: 160px;

    transition: .3s;

    &__img{
        flex: 0 0 40px;

        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: $bg-secondary no-repeat center / cover;
    
        margin-right: $spacer/2;

        &_default{
            background-image: url("../icon/mail.svg");
            background-size: 18px;
        }
    }

    &:hover{
        color: $black;
        text-decoration: none;
        background-color: $light-grey;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview_service{
        min-width: 140px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview_service{
        min-width: 1px;

        &__img{
            flex: 0 0 30px;
    
            width: 30px;
            height: 30px;
            border-radius: 15px;
    
            &_default{
                background-size: 14px;
            }
        }
    
    }
}