.preview_step{
    position: relative;
    padding: 0 $spacer;

    width:  map-get($map: $container-max-widths, $key: 'xl')/3 - 20px;
    max-width: 100%;
    text-align: center;

    &__num{
        line-height: 52px;
        width: 60px;
        border-radius: 30px;

        margin: 0 auto 30px;

        background: $white;
        color: $red;
        border: 4px solid $red;
        font-weight: $font-weight-bold;
        font-size: 22px;
    }
    &__title{
        color: $black;
    }
    &__intro{
        width: 320px;
        max-width: 100%;
        margin: 0 auto;
    }
}

.preview_step-final{
    position: relative;
    display: grid;
    grid-gap: map-get($map: $spacers, $key: 3);
    grid-template-columns: 200px 1fr;
    padding-left: 220px;

    background-color: $red;
    color: $white;

    width: 920px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 190px;
        height: 100%;

        background: no-repeat center / cover;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    }
    &__title{
        font-size: 22px;
        line-height: 28px;
        font-weight: $font-weight-bolder;

        margin-bottom: $spacer/2;
    }
    &__intro{
        margin-top: $spacer/2;
    }
    &__content{
        margin-top: $spacer/2;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .preview_step{
        width: map-get($map: $container-max-widths, $key: 'lg')/3 - 20px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .preview_step{
        width: map-get($map: $container-max-widths, $key: 'md')/3 - 20px;
        padding: 0 $spacer/2;

        &__num{
            line-height: 32px;
            width: 40px;
            border-radius: 20px;

            font-size: 18px;
            margin-bottom: $spacer;

            text-align: center;
        }
    }
    .preview_step-final{
        grid-gap: $spacer;
        grid-template-columns: 180px 1fr;

        &__title {
            font-size: 17px;
            line-height: 26px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview_step{
        width: map-get($map: $container-max-widths, $key: 'sm')/3 - 20px;
        padding: 0 $spacer/2;
    }
    .preview_step-final{
        grid-gap: $spacer;
        grid-template-columns: 200px 1fr;

        position: relative;
        padding: $spacer;

        &__img{
            display: none;
        }
        &__intro{
            margin-top: 0;
        }
        &__title{
            margin-bottom: 0;
        }
        &__content{
            grid-column: 2/3;
            margin-top: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview_step{
        padding: 0 0 map-get($map: $spacers, $key: 2);
        padding-left: 60px;

        width: 100%;
        text-align: left;

        &__num{
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
        }
        &__intro{
            width: 250px;
            max-width: 100%;
        }
    }
    .preview_step-final{
        position: relative;
        display: block;

        &__img{
            display: none;
        }
        &__title{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: $spacer/2;
        }    
        &__intro{
            margin-top: $spacer/2;
        }
        &__content{
            margin-top: $spacer/2;
        }
    }
}