.row 
    .col-4
        +sale("С заботой о старших!", "Пенсионерам скидка 10% на любую услуг.", "Подробности акции")
    .col-4
        +sale("Больше - дешевле!", "При обработке 2-х квартир скидка 10%. При обработке 3-х и более квартир — 20%.", "Подробности акции")
    .col-4
        +sale("Исправим чужие ошибки", "Скидка 10% при обработках, после недобросовестных компаний.", "Подробности акции")