.btn{
    border: 1px solid $border-color;
    outline: none;
    box-shadow: none;

    font-size: 13px;
    line-height: 16px;
    font-weight: $font-weight-bolder;

    padding: 14px 24px;
    text-align: center;
    min-width: 200px;
    max-width: 100%;
    
    transition: all .4s;

    &:hover, &:focus{
        text-decoration: none;
    }

    &--full{
        width: 100%;
    }
}