.btn_details{
    border-color: $border-color;
    background: $border-color;
    color: $blue;

    &:hover, &:focus{
        background: darken($color: $border-color, $amount: 5);
        color: $blue;
    }
}