.header{
    font-size: map-get($map: $font-size, $key: "sm");
    
    // Rows
    &__top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        padding: $spacer/2 0;
    }
    &__navbar{
        background-color: $dark-blue;
        color: $white;
        padding: $spacer/2 0;
    }
    // Elements
    &__nav-toggle{
        display: none;
    }
    &__logo{
        flex: 0 0 185px;

        width: 185px;
        height: 40px;

        background: url('../icon/logo-full.svg') no-repeat left center / contain;
    }
    &__sublink{
        flex-grow: 1;
        padding-left: map-get($map: $spacers, $key: 3);
    }
    &__link{
        color: $text-grey;
        padding-right: map-get($map: $spacers, $key: 2);

        &:hover{
            color: $black;
        }
    }
    &__contact{
        flex: 0 0 230px;
        text-align: right;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__phone{
        font-weight: $font-weight-bolder;
        margin-right: 5px;
    }
    &__messenger{
        margin-left: 5px;
    }
    &__location{
        width: 24px;
        margin-left: $spacer;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        &__logo{
            background-image: url('../icon/logo-full.svg');  

            flex: 0 0 160px;
            width: 160px;
            height: 30px;
        }
        &__sublink{
            padding-left: $spacer;
        }
        &__link{
            padding-right: $spacer/2;
        }
        &__contact{
            flex: 0 0 160px;
            max-width: 160px;
        }
        &__messenger{
            display: none;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        &__logo{
            flex: 0 0 140px;
            width: 140px;
            height: 26px;
        }
        &__nav-toggle{
            display: block;
            flex: 0 0 40px;
            max-width: 40px;

            padding-right: $spacer;

            &--active{
                path:nth-child(1){
                    display: none;
                }
                path:nth-child(2){
                    transform: rotate(45deg) translateY(-250px) translateX(150px);
                }
                path:nth-child(3){
                    transform: rotate(-45deg) translateY(0px) translateX(-260px);
                }
            }
        }
        &__sublink{
            display: none;
        }
        &__navbar{
            display: none;

            padding: $spacer/2 0 $spacer;
        }
        &__contact{
            flex: 0 0 calc(100% - 180px);
            max-width: calc(100% - 180px);        
        }
        &__messenger{
            display: inline-block;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .header{
        &__phone{
            font-size: map-get($map: $font-size, $key: "md");
            margin-right: 0;
        }

        &__messenger{
            display: none;
        }
        &__location{
            display: none;
        }
    }
}