header.header
    .container
        .header__top
            svg.header__nav-toggle(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve")
                path(d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z")
                path(d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z")
                path(d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z")
            a.header__logo(href="index.html")
            .header__sublink 
                a.header__link(href="text.html") Сертификаты и средства
                a.header__link(href="files.html") Полезные статьи
                a.header__link(href="text.html") О компании
            .header__contact
                a.header__phone(href="tel:+7 995 230-53-94") +7 995 230-53-94
                a.messenger.header__messenger(href="#")
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.00225 0H8.99775C4.03538 0 0 4.0365 0 9C0 10.9688 0.6345 12.7935 1.71338 14.2751L0.59175 17.6186L4.05113 16.5128C5.47425 17.4555 7.17187 18 9.00225 18C13.9646 18 18 13.9624 18 9C18 4.03763 13.9646 0 9.00225 0Z" fill="#50667F"/>
                        <path d="M14.2391 12.7091C14.022 13.3222 13.1602 13.8307 12.4729 13.9792C12.0026 14.0794 11.3884 14.1592 9.32062 13.302C6.67575 12.2062 4.9725 9.51861 4.83975 9.34424C4.71262 9.16986 3.771 7.92111 3.771 6.62961C3.771 5.33811 4.42687 4.70924 4.69125 4.43924C4.90837 4.21761 5.26725 4.11636 5.6115 4.11636C5.72287 4.11636 5.823 4.12199 5.913 4.12649C6.17737 4.13774 6.31012 4.15349 6.4845 4.57086C6.70162 5.09399 7.23037 6.38549 7.29337 6.51824C7.3575 6.65099 7.42162 6.83099 7.33162 7.00536C7.24725 7.18536 7.173 7.26524 7.04025 7.41824C6.9075 7.57124 6.7815 7.68824 6.64875 7.85249C6.52725 7.99536 6.39 8.14836 6.543 8.41274C6.696 8.67149 7.22475 9.53436 8.00325 10.2274C9.00787 11.1217 9.82237 11.4075 10.1137 11.529C10.3309 11.619 10.5896 11.5976 10.7482 11.4289C10.9496 11.2117 11.1982 10.8517 11.4514 10.4974C11.6314 10.2431 11.8586 10.2116 12.0971 10.3016C12.3401 10.386 13.626 11.0216 13.8904 11.1532C14.1547 11.286 14.3291 11.349 14.3932 11.4604C14.4562 11.5717 14.4562 12.0949 14.2391 12.7091Z" fill="#fff"/>
                    </svg>
                a.messenger.header__messenger(href="#")
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9" cy="9" r="9" fill="#50667F"/>
                        <path d="M4.86267 10.134L6.27778 13.6715L8.12005 11.8293L11.2787 14.3398L13.5028 4.33984L2.125 9.07908L4.86267 10.134ZM10.2516 7.20894L6.76901 10.3854L6.33524 12.0202L5.53394 10.0166L10.2516 7.20894Z" fill="#fff"/>
                    </svg>
                .header__location(title="Россия, Санкт-Петербург")
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                        <path style="fill:#F5F5F5;" d="M512,200.093H0V97.104c0-4.875,3.953-8.828,8.828-8.828h494.345c4.875,0,8.828,3.953,8.828,8.828L512,200.093L512,200.093z"/>
                        <path style="fill:#FF4B55;" d="M503.172,423.725H8.828c-4.875,0-8.828-3.953-8.828-8.828V311.909h512v102.988C512,419.773,508.047,423.725,503.172,423.725z"/>
                        <rect y="200.091" style="fill:#41479B;" width="512" height="111.81"/>
                    </svg>
    .header__navbar
        .container
            .navbar
                .navbar__item.navbar__item_has-child
                    a.navbar__link(href="catalog.html" data-nav="#nav1") Дезинсекция
                    .navbar__children#nav1
                        a.navbar__children-item(href="service.html") Тараканы
                        a.navbar__children-item(href="service.html") Клопы
                        a.navbar__children-item(href="service.html") Клещи
                        a.navbar__children-item(href="service.html") Медведка
                        a.navbar__children-item(href="service.html") Моль
                        a.navbar__children-item(href="service.html") Мокрица
                        a.navbar__children-item(href="service.html") Древоточец
                        a.navbar__children-item(href="service.html") Короед
                        a.navbar__children-item(href="service.html") Мухи
                        a.navbar__children-item(href="service.html") Осы и шершни
                        a.navbar__children-item(href="service.html") Комары
                        a.navbar__children-item(href="service.html") Муравьи
                        a.navbar__children-item(href="service.html") Блохи
                        a.navbar__children-item(href="service.html") Сколопендры
                        a.navbar__children-parent(href="catalog.html") Перейти в раздел «Дезинсекция»
                .navbar__item.navbar__item_has-child
                    a.navbar__link(href="catalog.html" data-nav="#nav2") Дератизация
                    .navbar__children#nav2
                        a.navbar__children-item(href="service.html") Тараканы
                        a.navbar__children-item(href="service.html") Клопы
                        a.navbar__children-item(href="service.html") Клещи
                        a.navbar__children-item(href="service.html") Медведка
                        a.navbar__children-item(href="service.html") Моль
                        a.navbar__children-item(href="service.html") Мокрица
                .navbar__item.navbar__item_has-child
                    a.navbar__link(href="catalog.html" data-nav="#nav3") Дезинфекция
                    .navbar__children#nav3
                        a.navbar__children-item(href="service.html") Мокрица
                        a.navbar__children-item(href="service.html") Древоточец
                        a.navbar__children-item(href="service.html") Короед
                        a.navbar__children-item(href="service.html") Мухи
                        a.navbar__children-item(href="service.html") Осы и шершни
                        a.navbar__children-item(href="service.html") Комары
                        a.navbar__children-item(href="service.html") Муравьи
                        a.navbar__children-item(href="service.html") Блохи
                .navbar__item.navbar__item_has-child
                    a.navbar__link(href="catalog.html" data-nav="#nav4") Услуги компании
                    .navbar__children#nav4
                        a.navbar__children-item(href="service.html") Комары
                        a.navbar__children-item(href="service.html") Муравьи
                        a.navbar__children-item(href="service.html") Блохи
                        a.navbar__children-item(href="service.html") Сколопендры
                .navbar__item
                    a.navbar__link(href="contact.html") Контактная информация
            .navbar.navbar_mobile-only 
                .navbar__item
                    a.navbar__link(href="text.html") Сертификаты и средства
                .navbar__item
                    a.navbar__link(href="files.html") Полезные статьи
                .navbar__item
                    a.navbar__link(href="text.html") О компании

                a.navbar__phone(href="tel:+7 995 230-53-94") +7 995 230-53-94
                a.messenger.navbar__messenger(href="#")
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.00225 0H8.99775C4.03538 0 0 4.0365 0 9C0 10.9688 0.6345 12.7935 1.71338 14.2751L0.59175 17.6186L4.05113 16.5128C5.47425 17.4555 7.17187 18 9.00225 18C13.9646 18 18 13.9624 18 9C18 4.03763 13.9646 0 9.00225 0Z" fill="#4CAF50"/>
                        <path d="M14.2391 12.7091C14.022 13.3222 13.1602 13.8307 12.4729 13.9792C12.0026 14.0794 11.3884 14.1592 9.32062 13.302C6.67575 12.2062 4.9725 9.51861 4.83975 9.34424C4.71262 9.16986 3.771 7.92111 3.771 6.62961C3.771 5.33811 4.42687 4.70924 4.69125 4.43924C4.90837 4.21761 5.26725 4.11636 5.6115 4.11636C5.72287 4.11636 5.823 4.12199 5.913 4.12649C6.17737 4.13774 6.31012 4.15349 6.4845 4.57086C6.70162 5.09399 7.23037 6.38549 7.29337 6.51824C7.3575 6.65099 7.42162 6.83099 7.33162 7.00536C7.24725 7.18536 7.173 7.26524 7.04025 7.41824C6.9075 7.57124 6.7815 7.68824 6.64875 7.85249C6.52725 7.99536 6.39 8.14836 6.543 8.41274C6.696 8.67149 7.22475 9.53436 8.00325 10.2274C9.00787 11.1217 9.82237 11.4075 10.1137 11.529C10.3309 11.619 10.5896 11.5976 10.7482 11.4289C10.9496 11.2117 11.1982 10.8517 11.4514 10.4974C11.6314 10.2431 11.8586 10.2116 12.0971 10.3016C12.3401 10.386 13.626 11.0216 13.8904 11.1532C14.1547 11.286 14.3291 11.349 14.3932 11.4604C14.4562 11.5717 14.4562 12.0949 14.2391 12.7091Z" fill="#FAFAFA"/>
                    </svg>
                    span What'sApp
                a.messenger.navbar__messenger(href="#")
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9" cy="9" r="9" fill="#78CEF3"/>
                        <path d="M4.86267 10.134L6.27778 13.6715L8.12005 11.8293L11.2787 14.3398L13.5028 4.33984L2.125 9.07908L4.86267 10.134ZM10.2516 7.20894L6.76901 10.3854L6.33524 12.0202L5.53394 10.0166L10.2516 7.20894Z" fill="white"/>
                    </svg>
                    span Telegram
            
            
            
            