.slider{
    &__item{
        outline: none;
        height: auto;
    }

    .slick-arrow{
        width: 40px;
        height: 40px;
        z-index: 11;

        &:before{
            display: none;
        }

        &:hover{
            opacity: 0.8;
        }

        &.slick-prev{
            left: -40px;
            background: url('../icon/chevron-left.svg') no-repeat center / 40px;
        }
        &.slick-next{
            right: -40px;
            background: url('../icon/chevron-right.svg') no-repeat center / 40px;
        }
        &.slick-disabled{
            opacity: 0.2;
            cursor: not-allowed;
        }

        
    }
}