.input{
    background-color: $white;
    color: $black;
    border: 1px solid $border-color;
    
    font-size: 13px;
    line-height: 16px;
    
    padding: 14px 24px;
    transition: .4s;

    &::placeholder{
        transition: .4s;
        color: $text-grey;
    }
    &:hover, &:focus{
        border-color: $border-color;
        outline: none;
    }
    &:focus::placeholder{
        opacity: 0;
    }
    // Состояние
    &--full{
        width: 100%;
    }
}