.form{
    margin: 0;

    &__agree{
        font-size: 12px;
        color: $grey;
        margin-top: $spacer/3;
    }

    &__gift{
        justify-content: space-between;
        align-items: center;

        &-img{
            flex: 0 0 50px;
            max-width: 50px;
        }
        &-content{
            flex: 0 0 calc(100% - 70px);
            max-width: calc(100% - 70px);

            font-size: map-get($map: $font-size, $key: "xs");
        }
    }
}

.form_block{
    padding: 30px;
    background: $white;
    box-shadow: 0px 4px 12px rgba(30, 30, 30, 0.08), 0px 12px 32px rgba(30, 30, 30, 0.04);
}