.form-cta{
    position: relative;
    padding: map-get($map: $spacers, $key: 4) 0;
    margin-top: map-get($map: $spacers, $key: 4);

    &__intro{
        width: 540px;
        max-width: 100%;
    }
    &__form{
        width: 700px;
        max-width: 100%;
    }
    &__image{
        position: absolute;
        max-width: 100%;

        &_consultation{
            left: 40px;
            bottom: -60px;
            width: 275px;
            height: 310px;
    
            background: url('../img/phone.png') no-repeat center bottom / contain;
        }
        &_order{
            left: 0px;
            bottom: -85px;
            width: 240px;
            height: calc( 100% + 170px);
    
            background: url('../img/cta-order.png') no-repeat center bottom / contain;
        }
        
    }
    &__icon{
        position: absolute;
        left: 50%;
        bottom: 20px;

        transform: translateX(-50%);
        width: 130px;
        height: 130px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .form-cta{
        // padding: map-get($map: $spacers, $key: 3) 0;
        margin-top: map-get($map: $spacers, $key: 3);
        text-align: center;

        &__title{
            width: 300px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: map-get($map: $spacers, $key: 3);

            position: relative;
            z-index: 11;
        }
        &__intro{
            display: none;
        }
        &__form{
            position: relative;
            z-index: 11;

            display: flex;
            flex-direction: column;
        }

        &:after{
            content: '';
            display: block;
            width: 200px;
            height: 200px;

            max-width: 100%;

            background: url('../icon/sign.svg') no-repeat top center / contain;

            position: absolute;
            top: $spacer;
            left: 50%;

            transform: translateX(-50%);
        }
    }
}