.bg-secondary.pt-3.pb-3
    .container.form-cta
        .row 
            .col-7
                p.h1 Нужна бесплатная консультация?
                p Компания предоставляет услуги по дезинфекции, дезинсекции и дератизации по Санкт-Петербургу более 7 лет. 
                form.form
