.form-cta.bg-secondary
    .container
        .row.justify-content-center.justify-content-lg-around.justify-content-md-center
            .col-3.p-relative.d-sm-none
                .form-cta__image.form-cta__image_order
            .col-8.col-sm-10.col-xs-12
                p.h1.form-cta__title Избавьтесь от&nbsp;проблемы уже через 2&nbsp;часа
                p.form-cta__intro Компания предоставляет услуги по&nbsp;дезинфекции, дезинсекции и&nbsp;дератизации по&nbsp;Санкт-Петербургу более 7 лет. 
                form.form.form_inline.form-cta__form(action="")
                    input.input(type="text" placeholder="Ваше имя")
                    input.input.input_phone(type="tel" placeholder="Телефон")
                    button.btn.btn_action(type="submit") Заказать обработку
