.form-cta.bg-secondary
    .container
        .row 
            .col-3.p-relative 
                .form-cta__image.form-cta__image_order
            .col-8
                p.h1 Избавьтесь от проблемы уже через 2 часа
                p.form-cta__intro Компания предоставляет услуги по&nbsp;дезинфекции, дезинсекции и&nbsp;дератизации по&nbsp;Санкт-Петербургу более 7 лет. 
                form.form.form_inline.form-cta__form(action="")
                    input.input(type="text" placeholder="Ваше имя")
                    input.input.input_phone(type="tel" placeholder="Телефон")
                    button.btn.btn_action(type="submit") Заказать обработку
