.list_line{
    &__item{
        position: relative;
        padding-left: 60px;
        margin-bottom: 10px;

        &:before{
            content:'';
            display: block;

            width: 40px;
            height: 2px;

            background: $black;

            position: absolute;
            top: .75em;
            left: 0;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}