.list{
    list-style: none;
    padding: 0;
    // margin-bottom: 0;

    &__item{
        position: relative;
        padding-left: 28px;

        &:before{
            content:'';
            display: block;

            width: 8px;
            height: 8px;

            background: $yellow;

            position: absolute;
            top: .5em;
            left: 0;
        }
    }
}