.list{
    list-style: none;
    padding: 0;
    // margin-bottom: 0;

    &__item{
        position: relative;
        padding-left: 22px;
        margin-bottom: 4px;

        &:before{
            content:'';
            display: block;

            width: 6px;
            height: 6px;
            border-radius: 3px;

            background: $red;

            position: absolute;
            top: .65em;
            left: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }

        &_light{
            &:before{
                background: $grey;
            }
        }
    }
}