html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title FAQ

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap" rel="stylesheet")

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include component/header/header.pug
        include component/mixin.pug
        //- Inside Offset Top 40-60
        section.container.pt-3.pb-4.pt-sm-2.pb-sm-3
            h1.mb-0 Полезные файлы
            .row
                .col-4.col-xs-12.col-md-6.mt-3
                    img.img-fluid(src="./img/blog-prev.png")
                    a.text-bold.lead.d-block.mt-2.mb-1(href="text.html") Как подготовить квартиру к дезинсекции?
                    p.mb-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel lacus massa auctor amet eu in.
                    a.btn.btn_details(href="text.html") Узнать детали
                .col-4.col-xs-12.col-md-6.mt-3
                    img.img-fluid(src="./img/blog-prev.png")
                    a.text-bold.lead.d-block.mt-2.mb-1(href="text.html") Как подготовить квартиру к дезинсекции?
                    p.mb-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel lacus massa auctor amet eu in.
                    a.btn.btn_details(href="text.html") Подробности
                .col-4.col-xs-12.col-md-6.mt-3
                    img.img-fluid(src="./img/blog-prev.png")
                    a.text-bold.lead.d-block.mt-2.mb-1(href="text.html") Как подготовить квартиру к дезинсекции?
                    p.mb-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel lacus massa auctor amet eu in.
                    a.btn.btn_details(href="text.html") Подробности
                .col-4.col-xs-12.col-md-6.mt-3
                    img.img-fluid(src="./img/blog-prev.png")
                    a.text-bold.lead.d-block.mt-2.mb-1(href="text.html") Как подготовить квартиру к дезинсекции?
                    p.mb-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel lacus massa auctor amet eu in.
                    a.btn.btn_details(href="text.html") Узнать детали
            .pagination.mt-3
                a.pagination__item(href="#") 1
                a.pagination__item(href="#") 2
                span.pagination__item.pagination__item--active 3
                a.pagination__item(href="#") 4
        include component/form/form-ctaOrder.pug
        //- Акции 40-40
        section.pt-3.pb-3.bg-light
            .container
                h3.mb-1.pb-1.mb-sm-2.pb-sm-0 Наши актуальные акции
            .container-fluid.container-sm-fluid.container-xs-fluid
                include component/preview/sales.pug
        //- Другие направления 40-40
        aside.pt-3.pb-3.bg-blue
            .container
                h4 Популярные направления
            .container-fluid.container-sm-fluid.container-xs-fluid
                    .slider-container
                        .slider.slider_advantage
                            +advantage("Название услуги", "здесь краткое описание услуги")(style="background-image:url('./img/child.jpg');")
                            +advantage("Название услуги", "здесь краткое описание услуги")(style="background-image:url('./img/child.jpg');")
                            +advantage("Название услуги", "здесь краткое описание услуги")(style="background-image:url('./img/child.jpg');")
        .toggle.toggle_page
            .toggle__title.toggle__title_page(data-show="Читать подробнее про компанию" data-hide="Скрыть подробности")
                .container Читать подробнее про компанию
            .toggle__content.toggle__content_page
                .container.content
                    p Quo voluptas sit, amet, consectetur, adipisci velit, sed quia voluptas. Veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut enim ipsam. Esse, quam nihil impedit, quo voluptas. Eaque ipsa, quae ab illo inventore veritatis et voluptates.
                    p Quo voluptas sit, amet, consectetur, adipisci velit, sed quia voluptas. Veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut enim ipsam. Esse, quam nihil impedit, quo voluptas. Eaque ipsa, quae ab illo inventore veritatis et voluptates.
        include component/footer/footer.pug

        link(href="./css/jquery.fancybox.min.css", rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        link(href='./css/owl.carousel.min.css', rel='stylesheet')
        link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        script(src="./js/owl.carousel.min.js")

        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/app.min.js")