.catalog-inside{
    &__first-screen{
        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 4);
        background: $light-grey;
    }
    &__title-block{
        margin-bottom: map-get($map: $spacers, $key: 1);
    }
    &__title{
        display: inline;
        margin-right: $spacer;
    }
    &__old-price{
        display: inline-block;

        font-family: $font-family-base;
        font-size: 18px;
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;

        text-decoration: line-through;
        color: $blue;
        margin-right: $spacer/2;
    }
    &__new-price{
        display: inline-block;

        font-family: $font-family-base;
        font-size: 24px;
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;

        text-transform: uppercase;

        background: $blue;
        color: $white;
        padding: 4px 8px;
    }
    &__content-image{
        padding-left: map-get($map: $spacers, $key: 3);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .catalog-inside{
        &__first-screen{
            padding: map-get($map: $spacers, $key: 3);
        }
        &__content-image{
            padding-left: $spacer;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .catalog-inside{
        &__content-image{
            padding-left: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .catalog-inside{
        &__first-screen{
            padding: map-get($map: $spacers, $key: 2) 0;
        }
        &__title-block{
            margin-bottom: $spacer;
        }
        &__title{
            margin-bottom: $spacer/2;
            display: block;
        }
        &__old-price{
            font-size: 14px;

            margin-left: 0;
            margin-right: $spacer/4;
        }
        &__new-price{
            font-size: 18px;
        }
    }
}