.catalog-inside{
    // Blocks
    &__first-screen{
        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 4);
        background: $light-grey;
        border: 1px solid $border-color;
    }
    &__advantage{
        margin-top: map-get($map: $spacers, $key: 2);
        padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 4);
        border: 1px solid $border-color;

        &-item{
            display: flex;
            flex-wrap: wrap;

            align-items: center;
            justify-content: space-between;
        }
        &-img{
            flex: 0 0 30px;
            max-width: 30px;
            height: 30px;
            // border-radius: 50%;

            background: $white no-repeat center / contain;
            // border: 1px solid $border-color;
        }
        &-content{
            flex: 0 0 calc(100% - 50px);
            max-width: calc(100% - 50px);

            line-height: $line-height-heading;
        }
    }
    // Elements
    &__title-block{
        margin-bottom: map-get($map: $spacers, $key: 1);
    }
    &__title{
        display: inline;
        margin-right: $spacer;
    }
    &__price{
        display: inline;
        white-space: nowrap;
    }
    &__old-price{
        display: inline-block;

        font-family: $font-family-base;
        font-size: 18px;
        line-height: $line-height-heading;

        text-decoration: line-through;
        color: $grey;
        margin-right: $spacer/4;
    }
    &__new-price{
        display: inline-block;

        font-family: $font-family-base;
        font-size: 24px;
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;

        text-transform: uppercase;

        color: $red;
        padding: 4px 8px;
    }
    &__content-image{
        padding-left: map-get($map: $spacers, $key: 3);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .catalog-inside{
        // Blocks
        &__first-screen{
            padding: map-get($map: $spacers, $key: 3);
        }
        &__advantage{
            padding: map-get($map: $spacers, $key: 3);
            &-img{
                flex: 0 0 40px;
                max-width: 40px;
                height: 40px;
            }
            &-content{
                flex: 0 0 calc(100% - 60px);
                max-width: calc(100% - 60px);
    
                line-height: $line-height-heading;
            }
        }
        // Elements
        &__content-image{
            padding-left: $spacer;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .catalog-inside{
        &__content-image{
            padding-left: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .catalog-inside{
        &__first-screen{
            // border: none;
        }
        &__advantage{
            padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .catalog-inside{
        // Blocks
        &__first-screen{
            border: none;
            padding: map-get($map: $spacers, $key: 2) 0 map-get($map: $spacers, $key: 3);
        }
        // Elements
        &__title-block{
            margin-bottom: $spacer;
        }
        &__title{
            margin-bottom: $spacer/2;
            display: block;
        }
        &__old-price{
            font-size: 14px;

            margin-left: 0;
            margin-right: $spacer/4;
        }
        &__new-price{
            font-size: 18px;
        }
    }
}